html {
  background-color: $page-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}
body {
  margin: 0;
}
.contact-form {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  &-container {
    text-align: center;
    form {
      width: 100%;
    }
  }
}
